.disaster-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.bottom-row {
  background-color: #efc327;
  min-height: 5%;
  justify-content: center;
  align-items: center;
}

.bottom-row p {
  font-weight: bold;
  font-size: 2vmin;
}

.up-row {
  justify-content: center;
  align-items: center;
  background-color: #efc327;
  height: 10%;
}

.content {
  height: 80%;
  color: white;
  background-color: black;
  justify-content: center;
}

.info {
  background-color: black;
  color: white;
  min-height: 5%;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.info p {
  font-weight: bold;
  font-size: 3vmin;
  text-align: center;
}

.logo {
  height: 50px;
}

.links {
  background-color: black;
  color: white;
}

.links p {
  font-weight: bold;
  font-size: 3vmin;
}

.my-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: white;
}
